* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   color: #fff;
   font-weight: 500;
}

body > #general_wrapper {
   width: 100%;
   height: 100vh;
}

/* UTILITIES */
h1,h2,h3,h4,h5,h6 {
   font-weight: 700;
   color: #fff;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
   padding: 0;
}

:focus {
   outline: 0;
}

.selected {
   color: #fff;
}

.section_title {
   font-size: 25px;
   margin-bottom: 10px;
}
.section_subtitle {
   font-size: 14px;
   color: #a8a8a8;
}

.item_title {
   font-size: 15px;
   margin-bottom: 7px;
}
.item_subtitle {
   font-size: 12px;
   color: #a8a8a8;
}

.nav_menu li > a:hover,
.btn_new_playlist:hover,
#playlists a:hover,
.app_installer:hover,
.content_navbar li > a:hover,
.add_buttons > a:hover,
.console_right_buttons > a:hover i {
   animation: hover_on_links 0.3s forwards;
}

/* /UTILITIES */

/* MAIN */
main {
   display: flex;
   height: calc(100% - 90px);
   overflow-y: hidden;
}

/* sidebar */
main > #sidebar {
   width: 200px;
   min-height: 320px;
   font-size: 13px;
   background: #000;
   color: #a8a8a8;
   font-weight: 600;
}

/* sidebar top */
#sidebar > #sidebar_top {
   display: flex;
   flex-direction: column;
   height: calc(100% - 65px);
   overflow: hidden;
}

#sidebar_top > .logo_container {
   display: flex;
   align-items: center;
   flex-shrink: 0;
   height: 60px;
   padding-left: 10px;
}
.logo_container img {
   max-width: 70%;
}

#sidebar_top > .logo_container > i {
   display: none;
}

#sidebar_top ul.nav_menu {
   padding: 5px 0;
}

ul.nav_menu > li {
   height: 30px;
   line-height: 30px;
}

.nav_menu li.selected {
   position: relative;
}
.nav_menu li.selected::before {
   content: "";
   height: 100%;
   position: absolute;
   left: 0;
   border: 1px solid #ADFF2F;
}

.nav_menu li > a {
   display: inline-block;
   margin-left: 15px;
}

.nav_menu li > a > i.fas {
   display: inline-block;
   width: 30px;
   text-align: center;
   font-size: 20px;
   vertical-align: middle;
   padding-right: 10px;
}

#sidebar_top > .playlist_container {
   padding: 10px 15px;
   overflow: hidden;
}

.playlist_container > h4 {
   font-size: 15px;
   text-transform: uppercase;
}

.playlist_container > .btn_new_playlist::before {
   display: inline-block;
   content: "\f067";
   font-family: "FontAwesome";
   width: 30px;
   height: 30px;
   line-height: 30px;
   margin: 10px 10px 10px 0;
   text-align: center;
   background: #A3A3A3;
   color: #000;
}
.playlist_container > .btn_new_playlist:hover::before {
   animation: background_white 0.3s forwards;
}

.playlist_container > #playlists {
   display: flex;
   flex-direction: column;
   height: 80%;
   padding-bottom: 30px;
   overflow-y: auto;
}
.playlist_container > #playlists li {
   padding: 7px 0;
}
/* /sidebar top */

/* sidebar bottom */
#sidebar > #sidebar_bottom {
   height: 65px;
   padding: 5px 15px;
}

#sidebar_bottom > .app_installer {
   padding-bottom: 5px;
   border-bottom: 1px solid #a8a8a8;
}

#sidebar_bottom .user_container {
   display: flex;
   align-items: center;
   padding: 6px 0;
}
#sidebar_bottom .user_container > img {
   max-width: 23px;
   margin-right: 10px;
}
/* /sidebar bottom */
/* /sidebar */

/* content */
main > #content {
   width: calc(100% - 200px);
   background: #141922;
   padding: 80px 25px 20px;
   overflow-y: auto;
   z-index: 1;
}

/* CTA */
#content > #cta {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: calc(100% - 200px);
   height: 60px;
   margin-left: 200px;
   padding: 0 40px;
   background: #00000090;
}

#cta > .btn_upgrade {
   display: inline-block;
   font-size: 14px;
   border: 2px solid #fff;
   border-radius: 50px;
   padding: 5px 15px;
   text-transform: uppercase;
}
#cta > .btn_upgrade:hover {
   animation: btn_scale 0.3s forwards;
}
/* CTA */

/* NAVBAR */
#content > .content_navbar > ul {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: #a8a8a8;
}
#content > .content_navbar > ul li {
   margin: 10px 15px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 600;
}

.content_navbar li.selected::after {
   content: "";
   display: block;
   width: 30px;
   margin: 3px auto;
   border-bottom: 2px solid #ADFF2F;
}
/* /NAVBAR */

/* SEZIONI */
#content > #recent,
#content > #created,
#content > #popular {
   padding-top : 25px;
}

.item_container {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
}
.item_container > .item {
   width: calc(100% / 6);
   min-width: 130px;
   padding: 30px 15px 30px 0;
}
.item:hover {
   animation: scale_cards 0.3s forwards;
}

.item > .item_top {
   font-size: 0;
   position: relative;
}
#popular .item > .item_top {
   border-radius: 50%;
   overflow: hidden;
}

.item > .item_top img {
   width: 100%;
}

.item > .item_top.multi_item_container {
   display: flex;
   flex-wrap: wrap;
}

.item > .item_top.multi_item_container .multi_item {
   width: 50%;
}
.item > .item_top.multi_item_container .multi_item img {
   width: 100%;
}

.item > .item_top .layover {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: #000000aa;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
}
.item:hover > .item_top .layover {
   animation: opacity_layover 0.3s forwards;
}

.item > .item_bottom {
   text-align: center;
   padding: 10px;
}
#created .item > .item_bottom {
   text-align: left;
}
/* SEZIONI */
/* /content */
/* /MAIN */


/* FOOTER */
footer#console {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 90px;
   background: #282828;
}

#console > .console_left,
#console > .console_right {
   width: 200px;
   height: 100%;
}

/* FOOTER LEFT */
#console > .console_left {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5px;
}

#console > .console_left > .playback {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 60%;
}

#console > .console_left .playback_left img {
   max-width: 45px;
   margin-right: 5px;
}
.console_left .playback_right > .playback_title {
   font-size: 12px;
}
.console_left .playback_right > .playback_subtitle {
   font-size: 11px;
   color: #a8a8a8;
}

#console > .console_left > .add_buttons {
   font-size: 14px;
   color: #a8a8a8;
}
.console_left > .add_buttons a {
   margin-left: 5px;
}
/* /FOOTER LEFT */

/* FOOTER CENTER */
#console > .console_center {
   width: 45%;
   height: 100%;
}

.console_center > .player {
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.console_center > .player .player_btn {
   margin: 0 10px;
   font-size: 16px;
   cursor: pointer;
}
.console_center > .player .player_btn.player_play {
   font-size: 25px;
}
.console_center > .player .player_btn.player_play:hover {
   animation: scale_play_btn 0.3s forwards;
}

.console_center > .timeline {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
}

.console_center > .timeline > span {
   font-size: 12px;
}

.console_center > .timeline > .timeline_bar {
   width: 80%;
   height: 5px;
   margin: 0 10px;
   border-radius: 5px;
   background: #5A5A5A;
   cursor: pointer;
}
.timeline > .timeline_bar > .filling_bar {
   height: 100%;
   width: 68%;
   background: #fff;
   border-radius: 5px;
   position: relative;
}
.timeline .filling_bar .slider_timeline {
   width: 13px;
   height: 13px;
   border-radius: 50%;
   background: #fff;
   position: absolute;
   top: 50%;
   right: -6px;
   transform: translateY(-50%);
   display: none;
}
.timeline > .timeline_bar:hover > .filling_bar {
   background: #ADFF2F;
}
.timeline > .timeline_bar:hover > .filling_bar > .slider_timeline {
   display: block;
}
/* /FOOTER CENTER */

/* FOOTER RIGHT */
#console > .console_right {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8px;
   font-size: 14px;
}

.console_right > .console_right_buttons a {
   margin-right: 5px;
}

.console_right > .control_volume {
   width: 70%;
   display: flex;
   align-items: center
}
.console_right > .control_volume > .volume_bar {
   width: 80%;
   margin: 0 7px;
   height: 4px;
   border-radius: 3px;
   background: #5A5A5A;
   cursor: pointer;
}
.control_volume > .volume_bar > .filling_bar {
   height: 100%;
   width: 70%;
   background: #fff;
   border-radius: 3px;
   position: relative;
}
.control_volume .filling_bar .slider_volume {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #fff;
   position: absolute;
   top: 50%;
   right: -6px;
   transform: translateY(-50%);
   display: none;
}
.control_volume > .volume_bar:hover > .filling_bar {
   background-color: #ADFF2F;
}
.control_volume > .volume_bar:hover .slider_volume {
   display: block;
}
/* /FOOTER RIGHT */
/* /FOOTER */


/* MEDIA QUERIES */

/* DISPOSITIVI MD */
@media screen and (max-width: 1120px) {

   .section_subtitle {
      font-size: 13px;
   }
   .item_title {
      font-size: 14px;
   }
   .item_subtitle {
      font-size: 11px;
   }

   .item_container > .item {
      width: calc(100% / 4);
      padding: 20px 15px 10px 0;
   }

}
/* /DISPOSITIVI MD */

/* DISPOSITIVI SM */
@media screen and (max-width: 840px) {

   main > #sidebar {
      width: 150px;
      font-size: 11px;
   }
   #sidebar > #sidebar_top {
      height: calc(100% - 60px);
   }

   ul.nav_menu > li {
      height: 25px;
      line-height: 25px;
   }
   .nav_menu li > a > i.fas {
      font-size: 17px;
   }

   .playlist_container > h4 {
      font-size: 12px;
   }
   .playlist_container > .btn_new_playlist::before {
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 7px 7px 7px 0;
   }

   #sidebar > #sidebar_bottom {
      height: 60px;
      padding: 3px 15px;
   }

   main > #content {
      padding: 60px 10px 30px;
      width: calc(100% - 150px);
   }
   #content > #cta {
      width: calc(100% - 150px);
      margin-left: 150px;
   }

   #content > .content_navbar > ul li {
      margin: 5px 10px;
      font-size: 10px;
   }

   .item_container > .item {
      width: 50%;
      padding: 20px 15px 10px 0;
   }

   #console > .console_left,
   #console > .console_right {
      width: 150px;
   }

   #console > .console_left {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
   }

   #console > .console_right {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-end;
      padding: 8px 5px;
   }
   .console_right > .control_volume {
      width: 100%;
   }
}
/* /DISPOSITIVI SM */

/* DISPOSITIVI XS */
@media screen and (max-width: 552px) {

   .section_title {
      font-size: 20px;
   }
   .section_subtitle {
      font-size: 11px;
   }

   .item_title {
      font-size: 12px;
   }
   .item_subtitle {
      font-size: 10px;
   }

   .hidden_xs {
      display: none;
   }

   main > #sidebar {
      width: 50px;
   }

   /* sidebar top */
   #sidebar > #sidebar_top {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sidebar_top > .logo_container {
      color: #fff;
      padding: 0;
   }
   #sidebar_top > .logo_container > i {
      display: inline-block;
      font-size: 30px;
   }

   #sidebar_top  .nav_menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
   }

   .nav_menu li > a {
      margin-left: 0;
      display: inline-block;
   }
   .nav_menu li > a > i.fas {
      padding: 0;
      font-size: 25px;
   }
   .nav_menu li.selected::before {
      border: 0;
   }
   /* /sidebar top */

   /* sidebar bottom */
   #sidebar > #sidebar_bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0;
   }
   #sidebar_bottom > .app_installer {
      border-bottom: 0;
   }

   #sidebar_bottom .user_container > img {
      margin-right: 0;
   }
   /* /sidebar bottom */


   /* content */
   main > #content {
      width: calc(100% - 50px);
   }

   #content > #cta {
      width: calc(100% - 50px);
      margin-left: 50px;
      justify-content: center;
   }
   #cta > .btn_upgrade {
      font-size: 12px;
      padding: 3px 7px;
   }

   .item_container > .item {
      min-width: 0;
      padding: 20px 10px 10px 0;
   }
   /* /content */

   #console > .console_left .playback_left img {
      max-width: 35px;
      vertical-align: middle;
   }
   .console_left .playback_right > .playback_title {
      font-size: 10px;
   }
   .console_left .playback_right > .playback_subtitle {
      font-size: 9px;
   }

   .console_center > .player .player_btn {
      margin: 0px 5px;
      font-size: 13px;
   }
   .console_center > .player .player_btn:first-child,
   .console_center > .player .player_btn:last-child {
      align-self: flex-end;
      margin-top: 5px;
      font-size: 11px;
   }
   .console_center > .player .player_btn.player_play {
      font-size: 20px;
   }

   .console_center > .timeline > span {
      font-size: 10px;
   }
}
/* /DISPOSITIVI XS */
/* /MEDIA QUERIES */


/* KEYFRAMES */
@keyframes hover_on_links {
   0% {
      color: inherit;
   }
   100% {
      color: #fff;
   }
}

@keyframes background_white {
   0% {
      background: #A3A3A3;
   }
   100% {
      background: #fff;
   }
}

@keyframes btn_scale {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.1);
   }
}

@keyframes opacity_layover {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes scale_cards {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.04);
   }
}

@keyframes scale_play_btn {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.2);
   }
}
/* /KEYFRAMES */
